@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 768px;
  }
}

html, body, .container.content, .row {
  height:100%;
  overflow-y: hidden;
}

.header { margin-bottom: 15px; }

.row { padding-bottom: 80px; margin-bottom: -80px; }

.request-sidebar, .request-content, div.panel, .request-tree, .content-panel {
  height: inherit;
}

.request-clear-btn {
  position: absolute;
  top: 8px;
  right: 20px;
}

/* setup automatic scrollbars on request tree */
.request-tree, .request-conent {
  overflow: auto;
}
