
<div class="row">
  <div class="col-xs-4 request-sidebar">
    <div class="panel panel-default">  
      <div class="panel-heading">
        <h2 class="panel-title">Request Chain</h2>
        <button type="button" ng-click="clearRequests()"
          class="request-clear-btn btn btn-xs btn-danger">Clear</button>
      </div>
      <div class="request-tree" scroll-box>
        <div treecontrol class="tree-classic"
          tree-model="viewTree"
          options="treeOptions"
          selected-node="currentRequest">
          {{node.pathPart}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8 content-panel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Request Data</h2>
      </div>
      <div class="request-content" scroll-box>
        <div>
          {{currentRequest}}
        </div>
      </div>
    </div>
  </div>
</div>

